$yellow: #f0d17d;
@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}
@mixin alturas($width, $height) {
  width: $width;
  height: $height;
}

#first {
  background-image: url("../imagenes/movid-nocturna-Full-HD-Pictures.jpg");
  background-size: cover;
  @include alturas(100%, 300px);
}

.btn {
  background-color: lightsteelblue;
  color: mediumslateblue;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: $yellow;
  @include margenes(10px, 10px);
}

.card-hotel {
  flex: 1 200px;
  @include margenes(10px, 10px);
}

.btn-reserva {
  @include alturas(100%, 200px);
  border-radius: 10px;
}

.footer-address {
  padding-right: 10px;
}
