@yellow: #f0d17d;
.margenes(@top: 0px, @bottom:0px) {
    margin-top: @top;
    margin-bottom: @bottom;

#first {
  background-image: url("../imagenes/movid-nocturna-Full-HD-Pictures.jpg");
  background-size: cover;
  width: 100%;
  height: 300px;
}

.btn {
  background-color: lightsteelblue;
  color: mediumslateblue;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}

.btn-reserva {
  width: 100%;
  border-radius: 10px;
}

.footer-address {
  padding-right: 10px;
}
