#first {
  background-image: url("../imagenes/movid-nocturna-Full-HD-Pictures.jpg");
  background-size: cover;
  width: 100%;
  height: 300px; }

.btn {
  background-color: lightsteelblue;
  color: mediumslateblue; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #f0d17d;
  margin-top: 10px;
  margin-bottom: 10px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 10px; }

.btn-reserva {
  width: 100%;
  height: 200px;
  border-radius: 10px; }

.footer-address {
  padding-right: 10px; }
